<meta charset="utf-8">
<meta http-equiv="pragma" 	content="no-cache">
<meta name="viewport" 		content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="/css/default.css" type="text/css" />
<link rel="stylesheet" href="/css/mediaqueries.css" type="text/css" />

<link href='http://fonts.googleapis.com/css?family=Raleway:400,600' rel='stylesheet' type='text/css'>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" 	rel="stylesheet">

{% if page.title %}
	<title> {{ page.title }} </title>
	<meta property="og:title" content="{{ page.title }}" />
{% else %}
	<title> Tabletop Whale </title>
	<meta property="og:title" content="Tabletop Whale" />
{% endif %}
{% if page.description %}
	<meta name="description" 	content="{{ page.description }}">
	<meta property="og:description" content="{{ page.description }}"/>
{% else %}
	<meta name="description" 	content="Original science infographics by a designer with a molecular biology degree."/>
	<meta property="og:description" content="Original science infographics by a designer with a molecular biology degree."/>
{% endif %}
{% if page.image %}
	<meta property="og:image" content="http://tabletopwhale.com{{ page.image }}"/>
{% elsif page.icon %}
	<meta property="og:image" content="http://tabletopwhale.com{{ page.icon }}"/>
{% endif %}

<meta name="keywords"		content="science, biology, genetics, infographic, design">
<meta name="author" 		content="Eleanor Lutz">
<meta property="article:published_time" content="{{ page.date }}" />
<meta property="article:tag" content="science" />
<meta property="article:tag" content="infographic" />
<meta property="article:tag" content="design" />
<meta property="og:site_name" content="Tabletop Whale"/>
<meta property="og:url" content="http://tabletopwhale.com{{ page.url }}"/>
<meta property="og:type" content="article" />

<script>
 (function(d, t) {
    var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
    g.src = 'http://assets.gfycat.com/js/gfyajax-0.517d.js';
    s.parentNode.insertBefore(g, s);
}(document, 'script'));
</script>