<!DOCTYPE html>
<html lang="en">

<head>
{% include head.html %}
</head>

<body>
<div id="header_container">
  <div class="header_center_width">
    <div id="header_left_align">
      <a href="/index.html"> 
      <div class="wordmark btn-hide-300" >TABLETOP WHALE</div> 
      </a>
      <input type="checkbox" id="navbar-checkbox" class="navbar-checkbox">
      <nav class="menu">
        <ul>
          <li> <a href="/index.html">     Home    </a> </li>
          <li> <a href="/faq.html">       About   </a> </li>
          <li> <a href="/archive.html">   Archive </a> </li>
        </ul>
        <label for="navbar-checkbox" class="navbar-handle"></label>
        <div class="navbar-marginbottom"></div>
      </nav>
    </div>
  </div>
</div>

<div class="title-container-archivepage">
 <div class="title title-404">
  <h1>404: Page not found</h1>
  <h2> Sorry, the page you're looking for doesn't seem to exist. </h2>
  <h2><a href="/index.html" class="button margin-small">Take me home</a></h2>
 </div>
</div>
<div class="margin-5-IEsafe"></div>

{% include footer.html %}

</body>
</html>