<!DOCTYPE html>
<html lang="en">
<head>
{% include head.html %}
</head>

<body>
<div id="header_container">
  <!-- menu -->
  <div class="header_center_width">
    <div id="header_left_align">
      <a href="/index.html"> 
      <div class="wordmark btn-hide-300" >TABLETOP WHALE</div> 
      </a>
      <input type="checkbox" id="navbar-checkbox" class="navbar-checkbox">
      <nav class="menu">
        <ul>
          <li> <a href="/index.html">   Home    </a> </li>
          <li> <a href="/faq.html">     About   </a> </li>
          <li> <a href="/archive.html"> Archive </a> </li>
        </ul>
        <label for="navbar-checkbox" class="navbar-handle"></label>
        <div class="navbar-marginbottom"></div>
      </nav>
    </div>
  </div>
</div>

<div class="margin-blogtop"></div>

<div class="container-blog-outsidemargin">
{% if page.image %}
  <div class="container-blog"> 
{% else %}
  <div class="container-blog container-blog-noimage-top"> 
{% endif %}
        <h1>{{ page.title }}</h1>
        {% if page.guest %}
        <!-- date & link to guest author -->
            {% if page.guestlink %}
                <div class="date"> 
                  <time> {{page.date | date: "%B %-d %Y "}} </time> 
                  &middot; 
                  <a href="{{post.guestlink}}">
                    {{page.guest}} 
                  </a>
                </div>
            {% else %}
              <div class="date"> 
                <time> {{page.date | date: "%B %-d %Y "}} </time> 
                &middot; 
                <em class="archive-text"> {{page.guest}} </em>
              </div> 
            {% endif %}
        {% else %}
          <div class="date"> <time> {{page.date | date: "%B %-d %Y" }} </time> </div>
        {% endif %}
        <hr>
        {% if page.columns %}
        <!-- default is 2 column post -->
        <!-- any value in page.columns turns blog into 1 column post -->
        <div class="container-blog-nocolumns">
          {{ content | remove : 'Read more <i class="fa fa-angle-double-right"></i>' }}
        </div>
        {% else %}
        <div class="container-blog-columns">
          {{ content | remove : 'Read more <i class="fa fa-angle-double-right"></i>' }}
        </div>
        {% endif %}
  </div>
{% if page.image %}
  {% if page.animation %}
    <div class="container-blog-nomargin">
      <video width="100%" height="100%" autoplay loop controls>
        <source src="{{ page.webm }}" type='video/webm'>
        <source src="{{ page.mp4 }}" type='video/mp4'>
      </video>
   </div>
  {% else %}
      <figure class="container-blog-nomargin default_image_blog"><img src="{{ page.image }}" /></figure>
  {% endif %}
{% endif %}
{% if page.image %}
  <div class="container-blog"> 
{% else %}
  <div class="container-blog container-blog-noimage-bottom"> 
{% endif %}
        <!-- Prev & Next navigation buttons -->
        {% if page.previous.url or page.next.url %}
          {% if page.previous.url and page.next.url %}
              <div class="margin-top">
                <a class="button paginate btn-dark btn-colfit" href="{{ page.previous.url }}"> Previous</a>
                <a class="button paginate btn-dark btn-colfit" href="{{ page.next.url }}"> Next</a>
          {% elsif page.previous.url or page.next.url %}
              <div class="margin-top">
                {% if page.next.url %}
                  <a class="button paginate btn-dark btn-colfit" href="{{ page.next.url }}"> Next</a>
                {% else %}
                  <a class="button paginate btn-dark btn-colfit" href="{{ page.previous.url }}"> Previous</a>
                {% endif %}
          {% endif %}
        {% else %}
           <div class="blog-btn-center margin-top">
        {% endif %}

        <!-- custom button specs -->
         {% if page.buy %}
            <a href="{{page.buy}}">
              <div class="button btn-ignore-600 btn-white" target="_blank"> 
                {{ page.buytext }} 
              </div>
            </a>
          {% endif %}

          {% unless page.nosocial %}
        <!-- share on fb and twitter -->
          <a href="https://twitter.com/intent/tweet?status={{page.title}} https://tabletopwhale.com{{page.url}} from @eleanor_lutz" target="_blank">
          <div class="button square btn-ignore-600 btn-colfit social-icon-general"><i class="fa fa-twitter"   > </i> </div></a>
          <a href="http://www.pinterest.com/pin/create/button/?url=https://tabletopwhale.com{{page.url}}&media=tabletopwhale.com{{page.image}}&description={{page.title}}:%20from%20TabletopWhale.com" target="_blank" data-pin-do="buttonPin"data-pin-config="above">
          <div class="button square btn-ignore-600 btn-colfit social-icon-general"><i class="fa fa-pinterest"   > </i> </div></a>
          <a href="https://www.facebook.com/sharer/sharer.php?u=http://tabletopwhale.com{{ page.url }}" target="_blank"><div class="button square btn-ignore-600 btn-colfit social-icon-general"><i class="fa fa-facebook"   > </i></div>
          </a>

          <a href="https://twitter.com/intent/tweet?status={{page.title}} https://tabletopwhale.com{{page.url}} from @eleanor_lutz" target="_blank">
          <div class="button btn-show-600 btn-white"><i class="fa fa-twitter"   > </i> Tweet</div></a>
          <a href="http://www.pinterest.com/pin/create/button/?url=https://tabletopwhale.com{{page.url}}&media=tabletopwhale.com{{page.image}}&description={{page.title}}:%20from%20TabletopWhale.com" target="_blank" data-pin-do="buttonPin"data-pin-config="above">
          <div class="button btn-show-600 btn-white"><i class="fa fa-pinterest"   > </i> Pin it!</div></a>
          <a href="https://www.facebook.com/sharer/sharer.php?u=http://tabletopwhale.com{{ page.url }}" target="_blank"><div class="button btn-show-600 btn-white"><i class="fa fa-facebook"   > </i> Share </div>
          </a>
          {% endunless %}
       </div>

    <div class="margin-normal"><div class="button transparent"></div></div>
        {% unless page.comments %}
        <!-- Disqus comments -->
          <div id="disqus_thread" ></div>
          <script type="text/javascript">
            var disqus_shortname = 'tabletopwhale'; 
              (function() {
                  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                  dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq); })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
          </noscript>
          <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
          
        <!-- reload on orientation change for mobile -->
        <!-- only here because Disqus doesn't automatically resize. take script out if Disqus is updated -->
          <script type="text/javascript">
            var reset_disqus = function(){
              DISQUS.reset({
                reload: true,
                config: function () {  
                  this.page.identifier = '{{ page.url }}';
                  this.page.url = 'https://tabletopwhale.com{{ page.url }}';
                  this.page.title = "{{ page.title }}";
                }
              });
            };
            var disqus_shortname = 'tabletopwhale';
            var disqus_identifier = '{{ page.url }}';
            var disqus_title = '{{ page.title }}';
            var disqus_url = 'https://tabletopwhale.com{{ page.url }}';
            (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
            window.onorientationchange = function() { reset_disqus(); };
          </script>
        {% endunless %}

        <p class="copyright-notice">
          <!-- automatic attribute/noncommercial license or custom link -->
          &copy; This work is licensed under a 
          {% if page.copyright %}
            <a href="{{ page.copyrightlink }}" target="_blank">{{ page.copyright }}.</a> 
          {% else %}
            <a href="http://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank">Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License. </a> 
          {% endif %}
        </p>
  </div>
</div>
<div class="margin-5-IEsafe"></div>

{% include footer.html %}

</body>
</html>
